@page "/NuevoTrabajo"
@inject IHTTPServicio http;

<h3>Crear un nuevo Trabajo</h3>

<FormTrabajo trabajo="trabajo" onValidSubmit="Grabar">

</FormTrabajo>

@code {
    private Trabajo trabajo = new Trabajo();
    private async void Grabar()
    {
        TrabajoDTO trabajoDTO = new()
            {
                Agroquimico = trabajo.Agroquimico,
                ClienteId = trabajo.ClienteId,
                Fecha = trabajo.Fecha,
                Hectareas = trabajo.Hectareas,
                Ubicacion = trabajo.Ubicacion,
                MaquinistaId = trabajo.MaquinistaId
            };

        //enviar trabajo al controlador mediante el servicio y la ruta del controlador
        var httpRespuesta = await http.Post<TrabajoDTO>("api/trabajos", trabajoDTO);

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
    }

}
