
<EditForm Model="trabajo" OnValidSubmit="onValidSubmit">

        <form id="new_customer" method="post">
            <div class="modal-body">
                <div class="form-row">
                    <div class="col mb-3">
                        <input class="form-control" placeholder="Cliente" type="text" name="clienteId">
                    </div>
                    <div class="col mb-3">
                        <input class="form-control" placeholder="Hectareas" type="number" name="hectareas">
                    </div>
                    <div class="col mb-3">
                        <input class="form-control" placeholder="Ubicacion" type="text" name="ubicacion">
                    </div>

                    <div class="col mb-3">
                        <input class="form-control" placeholder="Producto" type="text" name="agroquimico">
                    </div>

                    <div class="col mb-3">
                        <input class="form-control" placeholder="Identificacion del maquinista" type="text" name="maquinistaId">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-5 mb-3">
                        <input class="form-control" type="date" name="fecha">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="reset1">Crear</button>
            </div>
        </form>
</EditForm>

@code {
    [Parameter] public Trabajo trabajo { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }

}
