<div class="top-row  navbar navbar-dark bg-nav">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable bg-nav" @onclick="ToggleNavMenu">
    <nav class="flex-column fw-bold">
        <div class="nav-item px-3">
            <NavLink class="nav-link " href="/" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Trabajos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NuevoTrabajo">
                <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Trabajo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Maquinistas">
                <span class="oi oi-person" aria-hidden="true"></span> Maquinistas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
